<!DOCTYPE html>
<html lang="en">
<head>
  <title>Source Deps Reviewer</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="static/prism/css/prism.css"/>
  <link rel="stylesheet" href="static/css/main.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <h2 style="padding-left:20px;">Code review tool</h2>
    <div id="item_list" class="col-sm-3 sidenav hidden-xs"></div>

    <div class="col-sm-5">
      <h3>Browsing:</h3>
      <pre><h4 id="browsing_file_path"></h4></pre><br>
      <form id="go_form">
        <div class="input-group" style="margin-bottom:10px;">
          <span class="input-group-addon" id="path_prefix"></span>
          <input type="text" class="form-control" name="browsing_path" placeholder="Enter file path here" aria-describedby="path_prefix">
        </div>
        <input class="btn btn-primary" type="submit" name="go" value="GO"/>
        <a class="btn btn-link" id="goto_pattern_line">goto pattern line</a>
        <pre id="browsing_file" class="line-numbers"><code id="code" class="language-C" style="display:inline-block;"></code></pre>
      </form>
    </div>
    <br>

    <div class="col-sm-4" data-spy="affix">

      <div class="well">
        <h3>Temporary search</h3>
        <form id="temporary_search" class="input-group" style="padding-left:20px;">
          <span class="input-group-addon">is regex</span>
          <span class="input-group-addon">
            <input type="checkbox" name="is_regex2" id="is_regex2">
          </span>
          <input type="text" name="pattern" class="form-control">
        </form>
        <h3>Add patterns to grep</h3>
        <form id="add_pattern" class="input-group" style="padding-left:20px;">
          <span class="input-group-addon">is regex</span>
          <span class="input-group-addon">
            <input type="checkbox" name="is_regex" id="is_regex">
          </span>
          <input type="text" name="pattern" class="form-control">
        </form>
        <ul id="pattern_list"></ul>
      </div>
      <div class="well">
        <h3>File labeling:</h3>
        <pre style="padding-left:20px;"><h4 id="file_path"></h4></pre>
        <h3>Pattern line number:</h3>
        <h3 id="line_no"></h3><br>
        <h3>Library Dependencies</h3>
        <form id="add_deps" class="input-group">
          <input type="text" class="form-control" id="enter_deps" placeholder="Fill in * if undetermined"/>
          <span class="input-group-btn">
            <input class="btn btn-secondary" type="submit" value="Add"/>
          </span>
        </form>
        <ul id="deps_list"></ul>
        <h3>Code Dependencies</h3>
        <form id="add_code">
          <input class="btn btn-secondary" type="button" id="get_selection" value="Get selection"/>
          <input class="btn btn-secondary" type="submit" id="add_code" value="Add"/><br>
          <input type="text" id="code_file_path" style="margin: 0px; width: 100%;"/>
          <textarea id="selected_text" name="selectedtext" rows="5" style="margin: 0px; width: 100%; height: 106px;"></textarea>
        </form>
        <ul id="code_list"></ul>
        <form id="save_all">
          <input class="btn btn-secondary" type="submit" value="Save All"/>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-xl">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 id="modal_title" class="modal-title"></h4>
      </div>
      <div id="modal_body" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="static/js/main.js"></script>
<!-- for code prettyify -->
<script src="static/prism/js/prism.js"></script>

</body>
</html>

