<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.android.term">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:icon="@drawable/app_terminal"
                android:label="Terminal Emulator">
        <activity android:name="Term"
                android:theme="@style/Theme"
                android:launchMode="singleInstance"
                android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.TEST" />
            </intent-filter>
        </activity>
    </application>
</manifest> 
