*~
tools/eclipse/plugins/com.android.ide.eclipse.adt/androidprefs.jar
tools/eclipse/plugins/com.android.ide.eclipse.adt/jarutils.jar
tools/eclipse/plugins/com.android.ide.eclipse.adt/kxml2-2.3.0.jar
tools/eclipse/plugins/com.android.ide.eclipse.adt/layoutlib_api.jar
tools/eclipse/plugins/com.android.ide.eclipse.adt/layoutlib_utils.jar
tools/eclipse/plugins/com.android.ide.eclipse.adt/ninepatch.jar
tools/eclipse/plugins/com.android.ide.eclipse.adt/sdklib.jar
tools/eclipse/plugins/com.android.ide.eclipse.adt/sdkstats.jar
tools/eclipse/plugins/com.android.ide.eclipse.adt/sdkuilib.jar
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/add.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/backward.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/clear.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/d.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/debug-attach.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/debug-error.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/debug-wait.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/delete.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/device.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/down.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/e.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/edit.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/empty.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/emulator.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/forward.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/gc.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/halt.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/heap.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/i.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/importBug.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/load.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/pause.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/play.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/pull.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/push.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/save.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/thread.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/up.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/v.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/w.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/icons/warning.png
tools/eclipse/plugins/com.android.ide.eclipse.ddms/libs/jcommon-1.0.12.jar
tools/eclipse/plugins/com.android.ide.eclipse.ddms/libs/jfreechart-1.0.9-swt.jar
tools/eclipse/plugins/com.android.ide.eclipse.ddms/libs/jfreechart-1.0.9.jar
tools/eclipse/plugins/com.android.ide.eclipse.ddms/src/com/android/ddmlib
tools/eclipse/plugins/com.android.ide.eclipse.ddms/src/com/android/ddmuilib
tools/eclipse/plugins/com.android.ide.eclipse.tests/kxml2-2.3.0.jar
tools/eclipse/plugins/com.android.ide.eclipse.tests/unittests/com/android/ddmlib
