# Per-project `repo upload` hook settings.
# https://android.googlesource.com/platform/tools/repohooks

[Options]
ignore_merged_commits = true

[Hook Scripts]
winscope = ./tools/winscope/hooks/pre-upload ${PREUPLOAD_FILES}
