<?xml version="1.0" encoding="utf-8"?>
<alias xmlns:android="http://schemas.android.com/apk/res/android">
    <intent android:action="android.intent.action.VIEW"
        android:data="ALIASDATA"/>
</alias>