<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.android.fallback">
    <application android:label="@string/appTitle">

        <activity android:name="Fallback" android:label="@string/title"
				android:theme="@android:style/Theme.Dialog">
<!-- for debugging on non-SDK builds
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
-->
			<!-- SMS intents -->
            <intent-filter android:priority="-1000">
                <action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/sms-chat" />
            </intent-filter>
            <intent-filter android:priority="-1000">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SENDTO" />
				<category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sms" />
            </intent-filter>
            <intent-filter android:priority="-1000">
	            <action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
	            <data android:mimeType="vnd.android.cursor.item/sms" />
            </intent-filter>

			<!-- Mail intents -->
            <intent-filter android:priority="-1000">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="mailto" />
            </intent-filter>

			<!-- Wallpaper intents -->
            <intent-filter android:priority="-1000">
                <action android:name="android.intent.action.WALLPAPER_SETTINGS" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			
			<!-- Camera intents -->
			<intent-filter android:priority="-1000">
			    <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
			    <data android:mimeType="image/*" />
			</intent-filter>
			
			<!-- Settings Intent -->
			<intent-filter android:priority="-1000">
				<action android:name="android.settings.SETTINGS" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
        </activity>
                                
    </application>

</manifest>
