<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="com.android.ide.eclipse.common.xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="com.android.ide.eclipse.common.aaptProblem"
         name="aapt Problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="com.android.ide.eclipse.common.aidlProblem"
         name="aidl Problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
        id="com.android.ide.eclipse.common.androidProblem"
        name="Android Problem"
        point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
   </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
        <page
            category="com.android.ide.eclipse.preferences.main"
            class="com.android.ide.eclipse.common.preferences.UsagePreferencePage"
            id="com.android.ide.eclipse.common.preferences.UsagePreferencePage"
            name="Usage Stats"/>
    </extension>
</plugin>
