<h3>RelativeLayout</h3>
<dl>
  <dt><a href="RelativeLayout1.html">1. Vertical</a></dt>
  <dd>Demonstrates a simple relative layout.</dd>

  <dt><a href="RelativeLayout2.html">2. Simple Form</a></dt>
  <dd>Demonstrates a more complex relative layout to create a form. </dd>
</dl>

<h3>LinearLayout</h3>
<dl>
  <dt><a href="LinearLayout1.html">1. Vertical</a></dt>
  <dd>Demonstrates a simple LinearLayout, with child width set to WRAP_CONTENT. </dd>

  <dt><a href="LinearLayout2.html">2. Vertical (Fill Screen)</a></dt>
  <dd>Demonstrates a simple LinearLayout, with child width set to MATCH_PARENT.</dd>

  <dt><a href="LinearLayout3.html">3. Vertical (Padded)</a></dt>
  <dd>Demonstrates a LinearLayout where one of the elements can expand to fill any remaining screen space (weight=1). </dd>

  <dt><a href="LinearLayout4.html">4. Horizontal</a></dt>
  <dd>Demonstrates a horizontal LinearLayout, plus an expanding column. </dd>

  <dt><a href="LinearLayout5.html">5. Simple Form</a></dt>
  <dd>Demonstrates nested layouts to create a user form.</dd>

  <dt><a href="LinearLayout6.html">6. Uniform Size</a></dt>
  <dd>LinearLayout which uses a combination of wrap_content on itself and match_parent on its children to get every item to be the same width.</dd>

  <dt><a href="LinearLayout7.html">7. Fill Parent</a></dt>
  <dd>Demonstrates a horizontal linear layout with equally sized columns. Some columns force their height to match the parent.</dd>

  <dt><a href="LinearLayout8.html">8. Gravity</a></dt>
  <dd>Demonstrates a simple linear layout with menu options demonstrating horizontal and vertical gravity options.</dd>

  <dt><a href="LinearLayout9.html">9. Layout Weight</a></dt>
  <dd> Demonstrates how the layout_weight attribute can shrink an element too big to fit on screen.</dd>

</dl>

<h3>ScrollView</h3>
<dl>
  <dt><a href="ScrollView1.html">1. Short</a></dt>
  <dd>Demonstrates scrolling screen with buttons altermating with a text view. </dd>

  <dt><a href="ScrollView2.html">2. Long</a></dt>
  <dd>Demonstrates a longer scrolling screen similar to ScrollView1. </dd>
</dl>

<h3>TableLayout</h3>
<dl>
  <dt><a href="TableLayout1.html">1. Basic</a></dt>
  <dd>Demonstrates a basic TableLayout with identical children. </dd>
  
  <dt><a href="TableLayout2.html">2. Empty Cells</a></dt>
  <dd>Demonstrates a TableLayout with column-spanning rows and different child objects. </dd>
  
  <dt><a href="TableLayout3.html">3. Long Content</a></dt>
  <dd>Rows have different number of columns and content doesn't fit on screen: column 4 of row 2 shrinks all of the other columns </dd>
  
  <dt><a href="TableLayout4.html">4. Stretchable</a></dt>
  <dd>Demonstrates a TableLayout with a stretchable column. </dd>

  <dt><a href="TableLayout5.html">5. Spanning and Stretchable</a></dt>
  <dd>Demonstrates a complex TableLayout with spanning columns and stretchable columns to create a menu-like layout. </dd>

  <dt><a href="TableLayout6.html">6. More Spanning and Stretchable</a></dt>
  <dd>Similar to example 5, but with an additional &quot;checked&quot; column. </dd>

  <dt><a href="TableLayout7.html">7. Column Collapse</a></dt>
  <dd>Similar to example 6, but now with buttons on the bottom of the screen that enable you dynamically hide or show columns. </dd>

  <dt><a href="TableLayout8.html">8. Toggle Stretch</a></dt>
  <dd>Demonstrates toggling the &quot;stretch&quot; value on a column to fill the screen width. </dd>

  <dt><a href="TableLayout9.html">9. Toggle Shrink</a></dt>
  <dd>Demonstrates toggling the &quot;shrink&quot; value on a column to make an over-wide table shrink to fit the screen size. </dd>

  <dt><a href="TableLayout10.html">10. Simple Form</a></dt>
  <dd>Demonstrates using a table to design a user form. </dd>

  <dt><a href="TableLayout11.html">11. Gravity</a></dt>
  <dd>Demonstrates the use of advanced gravity attributes, such as <em>center_horizontal</em> and <em>right|bottom</em>                to align cell contents in a table. </dd>

  <dt><a href="TableLayout12.html">12. Various Widths</a></dt>
  <dd>Demonstrates the use of elements of various widths in a table. </dd>
</dl>

<h3>Baseline</h3>
<p>Demonstrates the use of the <em>android:layout_alignBaseline</em> XML attribute in various page layouts.</p>
<dl>
  <dt><a href="Baseline1.html">1. Top</a></dt>
  <dd>Demonstrates the default baseline alignment in a simple LinearLayout with items at the top of the screen. </dd>

  <dt><a href="Baseline2.html">2. Bottom</a></dt>
  <dd>Demonstrates the default baseline alignment in a simple LinearLayout with items at the bottom of the screen.</dd>

  <dt><a href="Baseline3.html">3. Center</a></dt>
  <dd>Demonstrates the default baseline alignment in a simple LinearLayout with items in the center of the screen.</dd>

  <dt><a href="Baseline4.html">4. Everywhere</a></dt>
  <dd>Demonstrates the default baseline alignment in a complex LinearLayout.</dd>

  <dt><a href="Baseline6.html">6. Multi-line</a></dt>
  <dd>Demonstrates a baseline alignment with a multiline field. </dd>

  <dt><a href="Baseline7.html">7. Relative</a></dt>
  <dd>Demonstrates baseline alignment in a RelativeLayout. </dd>

  <dt><a href="BaselineNested1.html">BaselineNested1</a></dt>
  <dd>Demonstrates baseline aligning specific elements in three parallel vertical LinearLayout objects.</dd>

  <dt><a href="BaselineNested2.html">BaselineNested2</a></dt>
  <dd>Demonstrates baseline aligning specific elements in three mixed vertical and horizontal LinearLayout objects.</dd>
  
  <dt><a href="BaselineNested3.html">BaselineNested3</a></dt>
  <dd>Demonstrates baseline alignment within nested LinearLayout objects. </dd>
</dl>

<h3>Radio Group</h3>
<dl>
  <dt><a href="RadioGroup1.html">Radio Group</a></dt>
  <dd>Demonstrates using radio buttons and capturing the selected item. </dd>
</dl>

<h3>ScrollBars</h3>
<dl>
  <dt><a href="ScrollBar1.html">1. Basic</a></dt>
  <dd>Demonstrates a scrollable LinearLayout object. </dd>

  <dt><a href="ScrollBar2.html">2. Fancy</a></dt>
  <dd>Demonstrates a scrollable LinearLayout object with a custom thumb slider image. </dd>
</dl>

<h3>Visibility</h3>
<dl>
  <dt><a href="Visibility1.html">Visibility</a></dt>
  <dd>Demonstrates toggling the visibility of a View object between visible, invisible, and gone. </dd>
</dl>

<h3>Lists</h3>
<dl>
  <dt><a href="List1.html">1. Array</a></dt>
  <dd> Demonstrates binding a ListAdapter to a string array as a data source, and displaying the elements on the screen. </dd>
  
  <dt><a href="List2.html">2. Cursor (People)</a></dt>
  <dd> Demonstrates binding results from a database query to a field in a template. </dd>
  
  <dt><a href="List3.html">3. Cursor (Phones)</a></dt>
  <dd> Demonstrates binding multiple columns from a database query to fields in a template. </dd>
  
  <dt><a href="List4.html">4. ListAdapter</a></dt>
  <dd> Demonstrates implementing a custom ListAdapter to return View objects laid out in a custom manner. </dd>
  
  <dt><a href="List5.html">5. Separators</a></dt>
  <dd> Demonstrates implementing a custom ListAdapter that includes separators between some items. </dd>
  
  <dt><a href="List6.html">6. ListAdapter Collapsed</a></dt>
  <dd>Demonstrates another custom list adapter with that returns expandible items. </dd>
  
  <dt><a href="List7.html">7. Cursor (Phones)</a></dt>
  <dd> Demonstrates a list adapter where data comes from a Cursor object. </dd>
  
  <dt><a href="List8.html">8. Photos</a></dt>
  <dd> Demonstrates a list activity that uses a custom ListAdapter, setting the view for an empty item, and also how to customize the layout of a ListActivity. </dd>

  <dt><a href="List9.html">9. Array (Overlay)</a></dt>
  <dd> </dd>

  <dt><a href="List10.html">10. Single choice list</a></dt>
  <dd> </dd>

  <dt><a href="List11.html">11. Multiple choice list</a></dt>
  <dd> </dd>

  <dt><a href="List12.html">12. Transcript</a></dt>
  <dd> </dd>

  <dt><a href="List13.html">13. Slow Adapter</a></dt>
  <dd> </dd>

  <dt><a href="List14.html">14. Efficient Adapter</a></dt>
  <dd> </dd>

  <dt><a href="List15.html">15. Selection Mode</a></dt>
  <dd> Demonstrates the use of selection Contextual Action mode to select multiple items in a list activity. </dd>

  <dt><a href="List16.html">16. Border selection mode</a></dt>
  <dd> Demonstrates a multi-select list activity that uses the <code>simple_selectable_list_item</code> border layout for selected items. </dd>
</dl>



<h3>Custom</h3>
<dl>
  <dt><a href="CustomView1.html">CustomView</a></dt>
  <dd>Demonstrates implementing a custom view subclass. </dd>
</dl>

<h3>ImageButton</h3>
<dl>
  <dt><a href="ImageButton1.html">ImageButton</a></dt>
  <dd>Demonstrates an ImageButton: a button with an arbitrary graphic on it. </dd>
</dl>

<h3>Date Widgets</h3>
<dl>
  <dt><a href="DateWidgets1.html">1. Dialog</a></dt>
  <dd>Demonstrates the DatePickerDialog and TimePickerDialog picker dialogs.</dd>

  <dt><a href="DateWidgets2.html">2. Inline</a></dt>
  <dd>Demonstrates using a TimePicker directly in a layout without using a confirmation button or dialog.</dd>
</dl>

<h3>Gallery</h3>
<dl>
  <dt><a href="Gallery1.html">1. Icons</a></dt>
  <dd> Demonstrates implementing a Gallery widget and extending GalleryAdapter to create a custom class to serve out source images to the widget. </dd>
  
  <dt><a href="Gallery2.html">2. People</a></dt>
  <dd>Demonstrates populating a Gallery with images from the contacts photos. </dd>
</dl>

<h3>Spinner</h3>
<dl>
  <dt><a href="Spinner1.html">Spinner</a></dt>
  <dd> Demonstrates populating two Spinner widgets with values. </dd>
</dl>

<h3>Grid</h3>
<dl>
  <dt><a href="Grid1.html">1. Icon Grid</a></dt>
  <dd> Demonstrates populating a GridView widget with a list of applications using a custom ListAdapter object.</dd>

  <dt><a href="Grid2.html">2. Photo Grid</a></dt>
  <dd> Demonstrates populating a GridView widget with images using a custom ListAdapter object. </dd>
</dl>

<h3>ImageSwitcher</h3>
<dl>
  <dt><a href="ImageSwitcher1.html">ImageSwitcher</a></dt>
  <dd>Demonstrates using the ImageSwitcher widget with a custom Adapter.</dd>
</dl>

<h3>TextSwitcher</h3>
<dl>
  <dt><a href="TextSwitcher1.html">TextSwitcher</a></dt>
  <dd>Demonstrates using the TextSwitcher widget. </dd>
</dl>

<h3>Animation</h3>
<dl>
  <dt><a href="Animation1.html">1. Shake</a></dt>
  <dd>Demonstrates a simple tweened animation (android.view.animation.Animation). </dd>

  <dt><a href="Animation2.html">2. Push</a></dt>
  <dd>Demonstrates a variety of transformations (android.view.animation.Animation), including fading, motion, and rotation. </dd>
</dl>

<h3>Drag and Drop</h3>
<dl>
  <dt><a href="DragAndDropDemo.html">Drag and Drop Demo</a></dt>
  <dd>Demonstrates how to perform drag and drop using an OnDragListener. (Uses the <a
href="DraggableDot.html"><code>DraggableDot</code></a> class.) </dd>
</dl>

<h3>Controls</h3>
<dl>
  <dt><a href="Controls1.html">1. Light Theme</a></dt>
  <dd>Demonstrates a variety of common form type widgets, such as check boxes and radio buttons using the light theme. </dd>
</dl>
<dl>
  <dt><a href="Controls1.html">2. Dark Theme</a></dt>
  <dd>Demonstrates a variety of common form type widgets, such as check boxes and radio buttons using the dark theme. </dd>
</dl>
<dl>
  <dt><a href="Controls1.html">3. Holographic Light Theme</a></dt>
  <dd>Demonstrates a variety of common form type widgets, such as check boxes and radio buttons using the light holographic theme. </dd>
</dl>
<dl>
  <dt><a href="Controls1.html">4. Holographic Dark Theme</a></dt>
  <dd>Demonstrates a variety of common form type widgets, such as check boxes and radio buttons using the dark holographic theme. </dd>
</dl>
<dl>
  <dt><a href="Controls1.html">5. Custom Theme</a></dt>
  <dd>Demonstrates a variety of common form type widgets, such as check boxes and radio buttons using a custom
  theme based on the light theme. </dd>
</dl>
<dl>
  <dt><a href="Controls1.html">6. Holo or Old Theme</a></dt>
  <dd>Demonstrates a variety of common form type widgets, such as check boxes and radio buttons using a custom
  theme that uses either the traditional or holo theme depending on the version of the platform. </dd>
</dl>

<h3>Auto Complete</h3>
<dl>
  <dt><a href="AutoComplete1.html">1. Screen Top</a></dt>
  <dd>Demonstrates the use of AutoCompleteTextView, an autocomplete dropdown box below a text box, with data taken from an array. </dd>

  <dt><a href="AutoComplete2.html">2. Screen Bottom</a></dt>
  <dd>Demonstrates an autocomplete box above a text box.</dd>

  <dt><a href="AutoComplete3.html">3. Scroll</a></dt>
  <dd>Demonstrates an autocomplete text box in the midst of a vertical list. </dd>

  <dt><a href="AutoComplete4.html">4. Contacts</a></dt>
  <dd>Demonstrates an autocomplete text box that gets its content from a database query. </dd>
  
  <dt><a href="AutoComplete5.html">5. Contacts with Hint</a></dt>
  <dd>Demonstates an autocomplete text box that understands the * wildcard. </dd>
</dl>

<h3>Progress Bar</h3>
<dl>
  <dt><a href="ProgressBar1.html">1. Incremental</a></dt>
  <dd>Demonstrates large and small rotating progress indicators that can be incremented or decremented in units. </dd>

  <dt><a href="ProgressBar2.html">2. Smooth</a></dt>
  <dd>Demonstrates large and small continuously rotating progress indicators used to indicate a generic &quot;busy&quot; message. </dd>

  <dt><a href="ProgressBar3.html">3. Dialogs</a></dt>
  <dd>Demonstrates a ProgressDialog, a popup dialog that hosts a progress bar. This example demonstrates both determinate and indeterminate progress indicators. </dd>

  <dt><a href="ProgressBar4.html">4. In Title Bar</a></dt>
  <dd>Demonstrates an Activity screen with a progress indicator loaded by setting the WindowPolicy's progress indicator feature. </dd>
</dl>

<h3>Focus</h3>
<dl>
  <dt><a href="Focus1.html">1. Vertical</a></dt>
  <dd>Demonstrates how to block selection of a specific screen element. </dd>

  <dt><a href="Focus2.html">2. Horizontal</a></dt>
  <dd>Demonstrates how to change the order of which screen element is selected when the user presses arrow keys. </dd>
  
  <dt><a href="Focus3.html">3. Circular</a></dt>
  <dd>Another version of Focus2. </dd>
</dl>
