com.android.ide.eclipse.adt/bin
com.android.ide.eclipse.ddms/bin
com.android.ide.eclipse.tests/bin

com.android.ide.eclipse.adt/androidprefs.jar
com.android.ide.eclipse.adt/jarutils.jar
com.android.ide.eclipse.adt/kxml2-2.3.0.jar
com.android.ide.eclipse.adt/layoutlib_api.jar
com.android.ide.eclipse.adt/layoutlib_utils.jar
com.android.ide.eclipse.adt/ninepatch.jar
com.android.ide.eclipse.adt/sdklib.jar
com.android.ide.eclipse.adt/sdkstats.jar
com.android.ide.eclipse.adt/sdkuilib.jar
com.android.ide.eclipse.adt/commons-compress-1.0.jar
com.android.ide.eclipse.ddms/icons/add.png
com.android.ide.eclipse.ddms/icons/backward.png
com.android.ide.eclipse.ddms/icons/clear.png
com.android.ide.eclipse.ddms/icons/d.png
com.android.ide.eclipse.ddms/icons/debug-attach.png
com.android.ide.eclipse.ddms/icons/debug-error.png
com.android.ide.eclipse.ddms/icons/debug-wait.png
com.android.ide.eclipse.ddms/icons/delete.png
com.android.ide.eclipse.ddms/icons/device.png
com.android.ide.eclipse.ddms/icons/down.png
com.android.ide.eclipse.ddms/icons/e.png
com.android.ide.eclipse.ddms/icons/edit.png
com.android.ide.eclipse.ddms/icons/empty.png
com.android.ide.eclipse.ddms/icons/emulator.png
com.android.ide.eclipse.ddms/icons/forward.png
com.android.ide.eclipse.ddms/icons/gc.png
com.android.ide.eclipse.ddms/icons/halt.png
com.android.ide.eclipse.ddms/icons/heap.png
com.android.ide.eclipse.ddms/icons/i.png
com.android.ide.eclipse.ddms/icons/importBug.png
com.android.ide.eclipse.ddms/icons/load.png
com.android.ide.eclipse.ddms/icons/pause.png
com.android.ide.eclipse.ddms/icons/play.png
com.android.ide.eclipse.ddms/icons/pull.png
com.android.ide.eclipse.ddms/icons/push.png
com.android.ide.eclipse.ddms/icons/save.png
com.android.ide.eclipse.ddms/icons/thread.png
com.android.ide.eclipse.ddms/icons/up.png
com.android.ide.eclipse.ddms/icons/v.png
com.android.ide.eclipse.ddms/icons/w.png
com.android.ide.eclipse.ddms/icons/warning.png
com.android.ide.eclipse.ddms/libs/jcommon-1.0.12.jar
com.android.ide.eclipse.ddms/libs/jfreechart-1.0.9-swt.jar
com.android.ide.eclipse.ddms/libs/jfreechart-1.0.9.jar
com.android.ide.eclipse.ddms/src/com/android/ddmlib
com.android.ide.eclipse.ddms/src/com/android/ddmuilib
com.android.ide.eclipse.tests/kxml2-2.3.0.jar
com.android.ide.eclipse.tests/unittests/com/android/ddmlib

