<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.android.ninepatchlab">
    <application android:label="9-patch-lab">
		<activity android:name="NinePatchLab">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
    </application>
</manifest>
