<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="PACKAGE"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="APPLICATION_NAME">
ACTIVITIES
TEST-USES-LIBRARY
    </application>
USES-SDK
TEST-INSTRUMENTATION
</manifest> 
