@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  .golden-card {
    background-color: white; 
    // mat.get-theme-color($theme, surface-container-low);
  }
}

@mixin typography($theme) {
  .wrapper {
    font: mat.get-theme-typography($theme, label-large, font);
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
  @if mat.theme-has($theme, typography) {
    @include typography($theme);
  }
}
