<html>
<head>
<title>Crate health</title>
<style>
table, th, td \{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;
}
td \{
  vertical-align: top;
}
.vertical \{
  writing-mode: vertical-lr;
}
</style>
</head>
<body>
<h1>Crates in external/rust</h1>
{crate_count | unescaped}
<h1>Crates with multiple versions</h1>
{crate_multiversion | unescaped}
<h1>Healthy crates in external/rust</h1>
<ul>
<li>Has cargo_embargo.json</li>
<li>cargo_embargo runs successfully</li>
<li>The resulting Android.bp is unchanged</li>
</ul>
{healthy | unescaped }
<h1>Unhealthy crates in external/rust</h1>
{unhealthy | unescaped}
</body>
</html>