<p>{rows | len} crate directories</p>
<table>
<tr>{{ for cell in header}}
  <th{{ if vertical }} class="vertical"{{ endif }}>{cell}</th>{{ endfor }}
</tr>
{{ for row in rows }}
<tr>{{ for cell in row }}
  <td>{cell | unescaped}</td>{{ endfor }}
</tr>{{ endfor }}
</table>